<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SaveRestoreForWpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SaveRestoreForWpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SaveRestoreForWpf.Properties.Settings>
            <setting name="textBoxPath" serializeAs="String">
                <value>アプリで設定する初期値</value>
            </setting>
            <setting name="SampleUser" serializeAs="String">
                <value>スコープユーザーは、Read/Write可能</value>
            </setting>
            <setting name="ScreenLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScreenTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScreenWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScreenHeight" serializeAs="String">
                <value>0</value>
            </setting>
        </SaveRestoreForWpf.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <SaveRestoreForWpf.Properties.Settings>
            <setting name="SettingApp" serializeAs="String">
                <value>スコープアプリケーションは、Readのみ可能</value>
            </setting>
        </SaveRestoreForWpf.Properties.Settings>
    </applicationSettings>
</configuration>